.embla {
    /* max-width: 48rem; */
    /* width:full; */
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
    display: flex;
    justify-content: center;
}
.embla__container {
    backface-visibility: hidden;
    touch-action: pan-y pinch-zoom;
}
.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding: 0 var(--slide-spacing);
}

.embla__slide__img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}