.embla {
    /* max-width: 48rem; */
    width:full;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
}
.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    /* margin-left: calc(var(--slide-spacing) * -1); */

    width: 80%;
}
.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    /* padding-left: var(--slide-spacing); */
}

.embla__slide__img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}